<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Product List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">  
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="bg1">
        <div class="container">

            <form [formGroup]="form">
                <div id="bg">
                    <div align="center">
                        <p>Add new Product </p>
                    </div>
                    <div id="bg2">
                        <label for="pid"> Product Id</label><br>
                        <input type="number" id="pid" formControlName="pid" placeholder="Not required"><br>

                        <label for="pname">Product Name</label><br>
                        <input type="text" id="pname" formControlName="pname" placeholder="Product Name" required><br>

                        <label for="price">Price</label><br>
                        <input type="number" id="price" formControlName="price" placeholder="Price" required><br>

                        <label for="qty">Quantity</label><br>
                        <input type="number" id="qty" formControlName="qty" placeholder="Quantity" ngModel="qty"
                            required><br><br>

                        <div>
                            <button type="submit" (click)="addprod()"> Add Product</button>

                            &nbsp;   &nbsp;   &nbsp;   &nbsp; 
                         <!-- <button type="button" (click)=" ">Back to List</button>
            -->

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</body>

</html>